.main{
  margin-top:10em;
}

.chatHistorySection{

  height:750px;
  margin:1em;


}

.reponse{
  background-color: rgb(175, 194, 238);
  color:rgb(0, 0, 0);
  width:50%;
  max-width: 350px;
  padding:10px 20px;
  border-radius:30px;
  text-align:left;
  margin-right:750px;

}

.query{
  background-color: rgb(55, 124, 204);
  color:white;
  width:max-content;
  max-width: 350px;
  padding:10px 20px;
  border-radius:10px;
  text-align:left;
  margin-left:70%;
}